{erl_opts, [debug_info]}.
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.0"}}},
  {ranch, {git, "https://github.com/extend/ranch.git", "HEAD"}}
]}.

{relx, [{release, { iqbus_client, "0.1.0" },
         [iqbus_client, lager,
          sasl]},

        {lager, [
          {log_root, "../iqbus_client"},
          {colored, true},
          {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
          ]}
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
